{% extends "basic.html.twig" %}

{% block body %}
    {% block header %}
    <div id="header">
        <div id="logo">
            <h1><a href="/">Old Architecture</a></h1>
            <h2><a href="/">By Free CSS Templates</a></h2>
        </div>
        <div id="menu">
            <ul>
                <li class="active"><a href="/products">Products</a></li>
                <li><a href="/warehouses">Ware</a></li>
                <li><a href="/business">Business</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/invoices">invoices</a></li>
            </ul>
        </div>
    </div>
    {% endblock header%}
    {% block splash %}
        <div id="splash">
	        <p><em>&ldquo;Fear is the great extinguisher of dreams.&rdquo;</em></p>
        </div>
    {% endblock splash%}
    {% block page %}
        <div id="page">
	        <div id="content">
		        <h1>Welcome to Old Architecture!</h1>
		        <blockquote>
			        <p><strong>&#8220;Old Architecture</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The photo is from <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use it for both commercial or personal use. I only ask that you link back to my site in some way. <em>Enjoy :)</em>&#8221;</p>
		        </blockquote>
		        <p>Donec leo, vivamus fermentum nibh in augue praesent congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
		        <ol>
                    <li><a href="#">Integer sit amet pede vel arcu aliquet pretium.</a></li>
                    <li><a href="#">Pellentesque quis elit non lectus gravida blandit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
                    <li><a href="#">Phasellus nec erat sit amet nibh pellentesque congue.</a></li>
                    <li><a href="#">Cras vitae metus aliquam risus pellentesque pharetra.</a></li>
                    <li><a href="#">Maecenas vitae orci vitae tellus feugiat eleifend.</a></li>
                    <li><a href="#">Duis non ante in metus commodo euismod lobortis.</a></li>
		        </ol>
                {% block inicio %}
                
                {% endblock inicio%}
                
	    </div>
        {% block sidebar %}
            <div id="sidebar">
		        <h2>News &amp; Updates</h2>
		        <ul>
			        <li>
				        <h3><span>May 31</span> Lorem Ipsum Dolor</h3>
				        <a href="#">In posuere eleifend odio quisque semper mattis wisi maecenas ligula&#8230;</a></li>
			        <li>
				        <h3><span>May 29</span> Pellentesque Congue</h3>
				        <a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus&#8230;</a></li>
			        <li>
				        <h3><span>May 24</span> Maecenas Vitae Orci</h3>
				        <a href="#">Quisque dictum integer nisl risus sagittis convallis rutrum id congue&#8230;</a></li>
		        </ul>
	        </div>
	        <div style="clear: both;">&nbsp;</div>
            </div>
        {% endblock sidebar%}
    {% endblock page%}
{% endblock body%}