{% extends "layout.html.twig" %}

{% block inicio %}
    <div class="divHome">
        <a class="botonInicio" href="/products">Products</a>
    </div>
    <div class="divHome">
        <a class="botonInicio" href="/warehouses">Warehouses</a>
    </div>
    <div class="divHome">
        <a class="botonInicio" href="/business">Business</a>
    </div>
    <div class="divHome">
        <a class="botonInicio" href="/orders">Orders</a>
    </div>
    <div class="divHome">
        <a class="botonInicio" href="/invoices">Invoices</a>
    </div>


{% endblock inicio%}