{% extends "main.html.twig" %}

{% block container %}

    {% if results is null %}
        0 results
        <a href="/">Home</a>
    {% else %}
        <table>
            <th>
                <td>Name</td>
                <td>Location</td>
                <td>Description</td>
            </th>
            {% for row in results %}
                <tr>
                    <td>{{row.getNombre()}}</td>
                    <td>{{row.getLocalizacion()}}</td>
                    <td>{{row.getDescripcion()}}</td>
                    
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock container%}