{% extends "basic.html.twig" %}
{% block body %}
    {% block header %}
        <div id="header">
            <div id="logo">
                <h1><a href="/">{{home}}</a></h1>
                <h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
            </div>
            <div id="menu">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/warehouses">Warehouses</a></li>
                    <li><a href="/business">Business</a></li>
                    <li><a href="/orders">Orders</a></li>
                    <li><a href="/invoices">invoices</a></li>
                </ul>
            </div>
        </div>
    {% endblock header%}
    {% block photo %}
        <div id="splash">
	        <p><em>&ldquo;Quisque dictum integer nisl risus sagittis rutrum id congue and nibh.&rdquo;</em></p>
        </div>
    {% endblock photo%}
    
    {% block sidebar %}
        <div id="sidebar">
		    <h2>{{sidebar_title}}</h2>
		    <ul>
			    <li><a href="/products">Products</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/warehouses">Warehouses</a></li>
                <li><a href="/business">Business</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/invoices">invoices</a></li>
            </ul>
	    </div>
	    <div style="clear: both;">&nbsp;</div>
    </div>
    {% endblock sidebar%}

    {% block page %}
    
    {% endblock page%}
    
{% endblock body%}